{% extends "core/base.html" %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<h1>{{post.title}}</h1>

<p class="date">
    Published {{post.publish}} by {{post.author}}
</p>
{{post.body|linebreaks}}

    <p>
        <a href="{%  url "core:post_share" post.id %}">
            Compartilhar Post
        </a>
    </p>

    {% with comments.count as total_comments %}
        <h2>
        {{ total_comments }} comentário {{ total_comment|pluralize }}
        </h2>
    {% endwith %}

    <h2>Post's Similares</h2>
    {% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
        Não existem postagens similares a esta.
    {% endfor %}

    {% for comment in comments %}
        <div class="comment">
        <p class="info">
            Comentário {{ forloop.counter }} por {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
        </div>
    {% empty %}
    <p>Não há comentários ainda.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Seu comentário foi adicionado.</h2>
    {% else %}
        <h2>Adicionar novo comentário</h2>
    <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
    <p><input type="submit" value="Adicionar Comentário"></p>
    </form>
    {% endif %}
{% endblock %}